@keyframes words {
    0% {
        transform: scale(1);
        rotate:calc(0.5turn);
        background-color: aqua;
        animation-timing-function:cubic-bezier(.15,.82,.74,.32);
    }

    50% {
        transform: scale(1);
        background-color: bisque;
    }

    100% {
        transform: scale(1);
        background-color: aqua;

    }

}


div{
    padding: 20%;
    animation: words 5s infinite;
}