body {
    background-color: black;
    font-family: 'Karla', sans-serif;
}


.item1 { grid-area: top; }
.item2 { grid-area: middle; }
.item3 { grid-area: bottom; }
.item4 { grid-area: footer; }


.grid-container {
  display: grid;
  grid-template-areas:
    'top'
    'middle'
    'bottom'
    'footer';
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#middle {
    text-align: center;
    font-size: 3.5em;
}

h2, p{
    text-align:  left;
    color: white;
    font-size: 2.5em;
}



.bottom{
    display: inline-block;
    color: white;
}

#leftbottom {
    float: left;
}

#midbottom {
    float:middle;
}

#rightbottom {
    float:right;
}










.item2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#square {
    z-index: 500;
    position: absolute;
    width: 320px;
    height: auto;

}

