body {
    background-color: black;
    font-family: 'Karla', sans-serif;
}

/*grid layout*/
.item1 { grid-area: top; }
.item2 { grid-area: middle; }
.item3 { grid-area: bottom; }
.item4 { grid-area: footer; }


.grid-container {
  display: grid;
  grid-template-areas:
    'top'
    'middle'
    'bottom'
    'footer';
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  font-size: 30px;
}



/*main text*/
#middle {
    text-align: center;
    font-size: 3.5em;
}

#middle:hover{
    z-index:50000000;
}

h2, p{
    text-align:  left;
    color: white;
    font-size: 3em;
}


/*small bottom text*/
.bottom{
    display: inline-block;
    color: white;
}

#leftbottom {
    float: left;
}

#midbottom {
    float:middle;
}

#rightbottom {
    float:right;
}




/*overlapping text and gradient*/
.item2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rectangle {
    z-index: 500;
    position: absolute;
    width: 320px;
    height: 200px;
    background: rgb(227,238,174);
    background: radial-gradient(circle, rgba(227,238,174,1) 0%, rgba(13,59,28,1) 100%);
}




@media screen and (max-width: 800px) {
        #middle {
            font-size: 2.5em;
        }

        .rectangle {
            width:250px;
            height: 150px;
        }

        p {
            font-size:2em;
        }

        .bottom {
            font-size:smaller;
        }
  }
