body{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    font-weight: 500;
    background-color: black;

}

.switch{
  width:30px;
  height:auto;
  top:15px;
  left:15px;
  position:absolute;
  filter: invert(1);
}

.switch:hover{
filter: invert(0);
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#flex{
  display:flex;
  flex-wrap: nowrap;
  margin-top: 50px;
}


#title{
    color: black ;
    background-color:   #fc648a;
    padding: 3%;
    font-size: 30px;
}

  #container1{
    
    margin-left: 50px;
    background-color: black  ;
    color:  #fc648a;
    border: 3px solid  #fc648a; /* Set a border */
    /*border-radius: 10px; /* Set the border radius */
    min-width: 630px;
    max-width:630px;
    /*transform: rotate(2deg);*/
      
  }


  /**/

  #title2{
    color: black ;
    background-color:   #fc648a;
    padding: 3%;
    font-size: 30px;
}

  #container2{
    
    margin-left: 50px;
    background-color: black  ;
    color:  #fc648a;
    border: 3px solid  #fc648a; /* Set a border */
    /*border-radius: 10px; /* Set the border radius */
    min-width: 630px;
    max-width:630px;
    /*transform: rotate(-1deg);*/
      
  }

  /**/

  #title3{
    color:  black  ;
    background-color:  #fc648a;
    padding: 3%;
    font-size: 30px;
}

  #container3{
    
    margin-left: 50px;
    background-color: black ;
    color:  #fc648a;
    border: 3px solid  #fc648a; /* Set a border */
    /*border-radius: 10px; /* Set the border radius */
    min-width: 630px;
    max-width:630px;
    /*transform: rotate(1deg);*/
      
  }

  button{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #FC648A;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #000000;
    border: solid #FC648A 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
  }

  @media only screen and (max-width: 900px) {
    #flex{
      display:flex;
      flex-wrap: wrap;
      margin-top: 50px;
    }
  }



  /*scrollbarsefsessefes*/

  /* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 5px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #000000;
}

*::-webkit-scrollbar-track:hover {
  background-color: #000000;
}

*::-webkit-scrollbar-track:active {
  background-color: #000000;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #FC648A;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #FC648A;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #FC648A;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #FC648A;
  height: 20px; /* Adjust this value to make the thumb thinner */
}