body{
    font-family: 'Rajdhani', sans-serif;
    background-color: black;
}
/*quiz stuff*/

#quiz, #submit, #results {
    display: none;
    color: #fc648a;
  }

  .question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
  font-weight: 400;
}
.answers label{
  display: block;
}
#submit{
  font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
  font-weight: 600;
	background-color:black;
	color: #fc648a;
  border: 2px solid #fc648a;
	padding: 20px;
	cursor: pointer;
    margin-left: 30%;
    margin-right:30%;
    
}
#submit:hover{
	opacity: 80%;
}

#quiz{
    margin: 0 auto;
    padding-left: 30%;
    padding-right:30%;
    max-width: 350px;
    min-width: 250px;
    
}

#results{
    margin: 0 auto;
    padding-left: 35%;
    padding-right:30%;
    max-width: 350px;
    min-width: 250px;
    font-weight: 500;
    font-size: 20px;
    
}
img{
    padding-top: 25%;
    width:200px;
    filter: invert(1);
}

#separate {
    padding: 0%;
    width: 800px;
}

/*other stuff*/
.squares1 { grid-area: squares1; }
.title { grid-area: title; }
.squares2 { grid-area: squares2; }
.line { grid-area: line; }
#directions { grid-area: directions;}
#ready { grid-area: ready; }

.grid {
  display: grid;
  grid-template-areas:
    'squares1 title squares2'
    'line line line'
    'directions directions directions'
    'ready ready ready ';
  gap: 10px;
  /*background-color: #2196F3;*/
  padding: 10px;
}

.grid > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: center;
  padding: 20px 0;
}


#green{
    font-family: 'Rajdhani', sans-serif;
	font-size: 23px;
	background-color:#fc648a;
	color: black;
	border: 0px;
	/*border-radius: 3px;*/
	padding: 1%;
	cursor: pointer;
    font-weight: 550;
    

}

#direct{
    color: #fc648a;
    font-size: 15px;
    text-align: left;
    margin:3%;
}

#yes,#no{
    color: #fc648a;
    font-size: 15px;
}

.title p{
    color: #fc648a;
    font-size: 35px;
    font-weight: 550;
}

.boxborder{
    border: 2px solid #fc648a; /* Set a border */
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    font-weight: 500;
    
}


/*THE POPUP SQUARES*/

.square {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: black;
  cursor: pointer;
  border: 2px solid #fc648a;
}



  /*scrollbarsefsessefes*/

  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #000000;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #000000;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #000000;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #FC648A;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #FC648A;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #FC648A;
  }
  
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #FC648A;
    height: 20px; /* Adjust this value to make the thumb thinner */
  }