@font-face {
    font-family: 'dm_monomedium_italic';
    src: url('../fonts/dmmono-mediumitalic-webfont.woff') format('woff2'),
         url('../fonts/dmmono-mediumitalic-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'dm_monoregular';
    src: url('../fonts/dmmono-regular-webfont.woff') format('woff2'),
         url('../fonts/dmmono-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

#instruction {
    opacity: 40%;
    color: white;
    font-size: 1em;

}

body {
    background-color: black;
    color:white;
    font-family: 'dm_monoregular';
    padding-right:35%;
    padding-top:3%;
    padding-left:5%;
    line-height: 1.5; 
    font-size: 1.8em;
    text-decoration: none;
}

.bold2{
    display: none;
    
}

@media screen and (max-width: 900px) {

.bold1,.bold0 {
    color: white;
}
.bold2{
    display: none;
}
#text {
    color: rgb(152, 152, 152);
}

}

@media screen and (max-width: 750px) {

    .bold1 ,.bold0{
        color: white;
    }
    
    #text {
        color: rgb(111, 111, 111);
    }
    .bold2{
        display: none;
        
    }
    }


    @media screen and (max-width: 600px) {

        .bold1 {
            display: none;
            
        }
        .bold2{
            color:red;
            display: block;
        }
        
        #link{
            text-decoration: none;
        }

        #link:hover{
            text-decoration: none;
        }

        #text {
            color: rgb(45, 45, 45);
        }
        
        }