@font-face {
    font-family: 'dm_monomedium_italic';
    src: url('../fonts/dmmono-mediumitalic-webfont.woff') format('woff2'),
         url('../fonts/dmmono-mediumitalic-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'dm_monoregular';
    src: url('../fonts/dmmono-regular-webfont.woff') format('woff2'),
         url('../fonts/dmmono-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

#instruction {
    opacity: 40%;
    color: white;
    font-size: 1em;

}

body {
    background-color: black;
    color:white;
    font-family: 'dm_monoregular';
    padding-right:35%;
    padding-top:3%;
    padding-left:5%;
    line-height: 1.5; 
    font-size: 1.8em;
}



@media screen and (max-width: 900px) {

.bold {
    color: white;
}

#text {
    color: rgb(152, 152, 152);
}

}

@media screen and (max-width: 750px) {

    .bold {
        color: white;
    }
    
    #text {
        color: rgb(111, 111, 111);
    }
    
    }


    @media screen and (max-width: 600px) {

        .bold {
            color: white;
        }
        
        #text {
            color: rgb(45, 45, 45);
        }
        
        }