@font-face {
    font-family: 'dm_monoregular';
    src: url('../fonts/dmmono-regular-webfont.woff') format('woff2'),
         url('../fonts/dmmono-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
    background-color: black;
}

#button{
    position:absolute;
    top: 50%;
    right:0;
    margin-right: 5%;
    font-family: 'dm_monoregular';
    color: white;
    background-color: black;
    font-size: 1.5em;
}

#button:hover {
    filter: drop-shadow(5px 5px 4px #a70000);
}

