@font-face {
    font-family: 'dm_monoregular';
    src: url('../fonts/dmmono-regular-webfont.woff') format('woff2'),
         url('../fonts/dmmono-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

#home{
    position:relative;
    bottom:10%;
    left:5%;
    padding-right:5%;
    width:50px;
    height: auto;
    z-index:5000;
  }
  
  #home:hover{
    opacity:50%;
  }

body{
    background-color: black;
}

#button{
    position:absolute;
    top: 50%;
    right:0;
    margin-right: 5%;
    font-family: 'dm_monoregular';
    color: white;
    background-color: black;
    font-size: 1.5em;
}

p:hover {
    color: rgb(142, 0, 0);
}

